.App {
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/background.png');
}

.Logo {
  background-image: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 200px;
  height: 200px;
}
