@keyframes blink {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.LockScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/background.png');
  transform: filter 250ms linear;
  transition: opacity 500ms linear;
  will-change: opacity;
}

.LockScreen.is-pending {
  filter: saturate(25%);
}

.LockScreen-hero {
  margin-top: 5rem;
  padding: 0 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-body-text-inverted);
  max-width: 32rem;
  border-radius: 0.5rem;
}

.LockScreen-hero h1 {
  line-height: 1;
}

.LockScreen-hero p {
  font-size: 1.2rem;
}

.PasswordForm {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
  will-change: opacity transform;
  user-select: none;
}

.LockScreen:not(.is-pending) .PasswordForm {
  opacity: 0;
  transform: scale(0.75);
}

.PasswordHelpText {
  color: var(--color-body-text-inverted);
  border-radius: 0.5rem;
}

.PasswordInput {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

.PasswordInput-character {
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  color: var(--color-body-text-inverted);
}

.PasswordInput-cursor {
  height: 4rem;
  width: 2rem;
  background-color: var(--color-body-text-inverted);
  animation-name: blink;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.LockScreen-logo {
  width: 10rem;
  height: 10rem;
  background-image: url('../images/logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
  transition: opacity 500ms linear 250ms;
  will-change: opacity;
}

.LockScreen:not(.is-pending) .LockScreen-logo {
  opacity: 1;
}

.LockScreen.is-transitioning {
  opacity: 0;
}
