:root {
  --color-background: #fff;
  --color-background-tint: #f8f9fa;
  --color-body-text: #343546;
  --color-body-text-inverted: #fff;
  --color-accent1: #4495d4;
  --color-accent2: #de5833;
  --font-body-family: Muli, sans-serif;
  --font-header-family: Poppins, sans-serif;
  --font-baseline-size: 100%;
}

html, body, #root {
  margin: 0;
  height: 100%;
  font: normal var(--font-baseline-size)/1.5 var(--font-body-family);
}
